future
emoji
beautifulsoup4
requests
sqlalchemy==1.3.20
python-telegram-bot==12.8
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
jikanpy
speedtest-cli
coffeehouse
tswift
gtts
wikipedia
pyowm==2.10.0
tabulate
parsel
nekos.py
requests
pytz
markdown2
bleach
pathlib
datetime
pytz
hachoir
pybase64
pySmartDL
validators
youtube_dl
youtube-search-python
pyrogram==1.1.13
textwrap
